html {
  font-family: 'Amaranth';
 background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(30deg, #046865 12%, transparent 12.5%, transparent 87%, #046865 87.5%, #046865), linear-gradient(150deg, #046865 12%, transparent 12.5%, transparent 87%, #046865 87.5%, #046865), linear-gradient(30deg, #046865 12%, transparent 12.5%, transparent 87%, #046865 87.5%, #046865), linear-gradient(150deg, #046865 12%, transparent 12.5%, transparent 87%, #046865 87.5%, #046865), linear-gradient(60deg, #04686577 25%, transparent 25.5%, transparent 75%, #04686577 75%, #04686577), linear-gradient(60deg, #04686577 25%, transparent 25.5%, transparent 75%, #04686577 75%, #04686577);
background-size: 80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

body {
  max-width: 360px;
  margin: 1rem auto;
}

input {
    font-family: 'Amaranth';
}

button {
    font-family: 'Amaranth';
}

header {
  background-color: #03413F;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 5px rgba(1, 26, 25, 0.9);
}

h1 {
  text-align: center;
}

.new {
  display: flex;
  
}

.new-input {
  display: block;
  width: 100%;
  padding: .5rem;
  border: 0;
  font-size: 1.2rem;
  
}

.new-button {
  border: 0;
  padding: 20px;
  font-size 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.new-button:hover {
  background-color: #438E8C;
  cursor: pointer;
}

.new-button:disabled {
  background-color: #E0ECEC;
  cursor: default;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  padding: 20px 10px;
  background-color: white;
}

.item-check {
  margin-right: 1em;
}

.item-text {
  color: #708090;
}

.delete {
  width: 20px;
  margin-left: auto;
  padding: 0;
  border: 0;
  background: url(https://cdn.glitch.com/f961eba8-228f-46a7-a1bc-a4b0b7dc17e2%2Fbin.png?v=1621165175709) no-repeat right;
  background-size: contain;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.delete:hover {
  background-image: url(https://cdn.glitch.com/f961eba8-228f-46a7-a1bc-a4b0b7dc17e2%2Fbin2.png?v=1621165175742)
}

.item-check:checked + .item-text {
  text-decoration: line-through;
}

