html {
  font-family: 'Lora', serif;
  background-color: #F4DFF7;
}

body {
  max-width: 360px;
  margin: 1rem auto;
}

header {
  background-color: #DFCEF5;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 5px rgba(46, 43, 51, 0.5);
}

h1 {
  text-align: center;
}

.new {
  display: flex;
  
}

.new-input {
  display: block;
  width: 100%;
  padding: .5rem;
  border: 0;
  font-size: 1.2rem;
  
}

.new-button {
  border: 0;
  padding: 20px;
  font-size 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.new-button:hover {
  background-color: #D0B3F2;
  cursor: pointer;
}

.new-button:disabled {
  background-color: #EEE1F5;
  cursor: default;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  padding: 20px 10px;
  background-color: white;
}

.item-check {
  margin-right: 1em;
}

.item-text {
  color: #708090;
}

.delete {
  width: 20px;
  margin-left: auto;
  padding: 0;
  border: 0;
  background: url(https://cdn.glitch.com/f961eba8-228f-46a7-a1bc-a4b0b7dc17e2%2Fbin.png?v=1621165175709) no-repeat right;
  background-size: contain;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.delete:hover {
  background-image: url(https://cdn.glitch.com/f961eba8-228f-46a7-a1bc-a4b0b7dc17e2%2Fbin2.png?v=1621165175742)
}

.item-check:checked + .item-text {
  text-decoration: line-through;
}

